  Welcome <%= @user.email %>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <%=  link_to("Sign Out", user_path(@user), :method => :delete)%>

  <%= form_for :link, url: links_path do |f| %>
    <p>
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </p>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>


  <% @links.each do |link| %>
    <div id="<%= link.title %>">
      <% if link.read %>
        <p1>
          <%= link.url %>
          <%= link.title %>
        </p1>
        <%= link_to("Mark as unread", edit_link_path(link, "mark as unread")) %>
      <% else %>
        <%= link.url %>
        <%= link.title %>
        <%= link_to("Mark as read", edit_link_path(link, "mark as read")) %>
      <% end %>
      <%= link_to("edit", edit_link_path(link)) %>
    </div>
  <% end %>
