  Welcome <%= @user.email %>

  <%=  link_to("Sign Out", user_path(@user), :method => :delete)%>

  <%= form_for :link, url: links_path do |f| %>
    <p>
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </p>
    <p>
      <%= f.label :title %><br>
      <%= f.text_area :title %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
