  Welcome <%= @user.email %>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <%=  link_to("Sign Out", user_path(@user), :method => :delete)%>

  <%= form_for :link, url: links_path do |f| %>
    <p>
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </p>
    <p>
      <%= f.label :title %><br>
      <%= f.text_area :title %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>

  <% @links.each do |link| %>
    <%= link.url %>
    <%= link.title %>
  <% end %>
